#add {
	position:relative;
	left:17%;
	width:80%;
	padding:20px;
	font-size:16px;
	color:#000000;
}
	#add input {
		width:300px;
		height:50px;	
		margin-bottom:13px;
		font-size:16px;
		display:block;
	}

	#add button {
		width:200px;
		height:50px;
		font-size:22px;
	}

	#add select {
	display:block;
	margin-bottom:20px;
	border: solid #054900 1px;
    font-size:16px;
	width:300px;
	height:50px;
    font-weight:bold;
    color:#000000;
	background: rgba(244, 255, 208, 0.55);
	}

#student, #mother, #father {
	width:30%;
	float:left;
}