.sidebar2 {
	width: 18%;
	top: 40%;
	left:80%;
	position: fixed;
	border: solid #054900 1px;
	background: rgba(0, 0, 0, 0.55);
	padding:5px;
}

.sidebar2 a {
text-decoration: none;
}

.sidebar2 #set-role {
	width:90%;
}

.sidebar2  li {
	margin-top:20px;
	list-style-type:none;
}