body{
    margin: 0 auto;
	min-width:1000px;
    font-family:TimesNewRoman, Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bolder;
	background:url("../Images/background.jpg") repeat-y;
	background-size: 100%;
}

.main-container {
	margin: 0 auto;
	padding: 0 40px;
}
i{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
}
h1{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:17px;
}
h2{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:15px;
}

.title{
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size:26px;
    text-indent:0px;
	margin-bottom:40px;
    color:rgba(3, 26, 0, 0.72);
    text-align:center;
}
a{color:#000000; text-decoration: underline;font-family: Verdana, Arial, Helvetica, sans-serif; font-size:14px;}
a:hover{color:#083b00; text-decoration: none}

input[type="text"],input[type="password"]{
	padding:0 5px;
    border: solid #054900 1px;
	height:20px;
    font-size:14px;
    font-weight:bolder;
    color:#000000;
	background: rgba(244, 255, 208, 0.55);
}
button{
    border: solid #054900 1px;
    font-size:14px;
    font-weight:bold;
    color:#000000;
    cursor:pointer;
	background: rgba(244, 255, 208, 0.55);
}
.search_b{
	width:125px;
	height:73px;
    font-size:22px;
	display:inline;
}

#search-form {
position:absolute;
left:400px;
}

#search-entities li {
display:inline;
}

#search_t{
	padding:0 25px;
	width:500px;
	height:71px;
	font-size:22px;
	margin-top: 150px;
}
.field-validation-error {
	color:red;
}
	#modal a {
		color: azure;
	}

	#modal .black {
		color: black;
	}
.inline {
display:inline-block;
}
#myId {
color:azure;
border:1px solid azure;
padding:30px;
}
	#myId input,#myId button {
	height:26px;
	width: 100px;
	}