@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h5>Поиск студентов:</h5>
<form action="@Url.RouteUrl(SearchRoutes.Index)" method="get">
    <input type="text" name="Pattern"/>
    <button type="submit">Найти</button>
</form>

