@model IndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="@Url.RouteUrl(HomeRoutes.Search)" method="get">
    <input type="text" name="Pattern"/>
    <button type="submit">Найти</button>
</form>

