@model SearchModel

@{
    Layout = "~/Views/Shared/_Main.cshtml";
}

@section main{

<form action="@Url.RouteUrl(SearchRoutes.Index)" method="get">
    <input type="text" name="Pattern" value="@Model.Pattern"/>
    <button type="submit">Найти</button>
</form>
@Html.Partial("~/views/student/list-students.cshtml", Model.Result)

}