<form action="@Url.RouteUrl(Iseu.Routing.HomeRoutes.Login)" method="post">
    <input type="text" name="LoginName"/>
     <br />
    <input type="password" name="Password"/>
     <br />
    <input type="checkbox" name="RememberMe" />
    <br />
    <button type="submit">Войти</button>
     <br />
    <a href="@Url.RouteUrl(Iseu.Routing.HomeRoutes.Register)">Регистрация</a>
</form>