
<form action="@(Url.RouteUrl(SyllabusRoutes.GetCourses))" method="post">
    
    <label for="courses">Введите количество курсов</label>
    <input id="courses" type="text" name="count"/>

    <button type="submit">Дальше</button>

</form>
