@model UserViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>ФИО: @Model.FullName</div>
<div>Дата рождения: @Model.BirthDate.Value.ToShortDateString()</div>
<div>Пол: @(Model.Gender == (int)Gender.Male ? "М":"Ж")</div>
@if(Model.GuestIsDecanat || Model.GuestIsAdmin)
{
<a href="@Url.RouteUrl(UserRoutes.Edit, new { id = Model.Id })">Редактировать</a>
}